*{box-sizing: border-box;
    margin: 0;}

body{background: radial-gradient(rgb(3, 39, 53),black);
    width: 100%;
    height: 100%;
    overflow: hidden;}

#moon{padding-top: 20px;padding-left: 20px;z-index: 1;margin: 0;}

#cloud1{position: absolute;top: 0px;left: 100px;z-index: 2;}

#cloud2{position: absolute;top: 150px;left: 900px;z-index: 2;}

#cloud3{position: absolute;top: 300px;left: 700px;z-index: 2;}

#cloud4{position: absolute;top: 50px;left: 400px;z-index: 2;}

#cloud5{position: absolute;top: 450px;left: 1000px;z-index: 2;}

#cloud6{position: absolute;top: 500px;left: 20px;z-index: 2;}

#cloud7{position: absolute;top: 250px;left: 700px;z-index: 2;}

#ghost1{position: absolute;top: 300px;left: 300px;z-index: 3;}

#ghost2{position: absolute;top: 500px;left: 900px;z-index: 3;}

#ghost3{position: absolute;top: 200px;left: 1100px;z-index: 3;}